.canvas-container {
    display: flex;
    background-color: #22252c;
    margin: auto;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 400px;
    margin: 0px 10px 20px;
    align-self: center;
}

canvas {
    border-radius: 30px;
}